{% block title %}About Us{% endblock %}
{% extends "templates/template.html.twig" %}

{% block content %}
<div role="main" class="main">

                <section class="page-top">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <ul class="breadcrumb">
                                    <li><a href="http://framebase.io">Home</a> <span class="divider">/</span></li>
                                    <li class="active">About Us</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <h2>About Us</h2>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">

                    <h2>Video Needs to be <strong>Easier</strong></h2>

                    <div class="row">
                        <div class="span12">
                            <p class="lead">
                                We love video. We love developing for video and we love creating and consuming video.
                                We just wish there were more of it. But video is hard. You can't just sprinkle it on
                                as a small feature of your app, it's too expensive to develop and maintain.
                            </p>
                            <p class="lead">
                                Then one day we realized: video is only hard because we let it be. And so began the
                                video renaissance.
                            </p>
                        </div>
                    </div>

                    <hr class="tall upsidedown">

                    <div class="row">
                        <div class="span8">
                            <h3><strong>Who</strong> We Are</h3>
                            <p>We're developers like many of you. We recall having to pull many late nights because our encoding queue was failing, pulling out our hair because our playback was lagging or realizing that our solution doesn't work at all in IE7 but not having enough time to correct the issue. It's 2013 and just using video is a problem of its own. We're trying to fix that.</p>
                            <p>Video is a great way to capture your audience and it's something they want to see more of. But time and time again, we hear of video being put on the back burner because it's "too hard" and there's just "not enough time for it right now".</p>
                            <p>Developing for video is like a deep dark hole, and you won't realize how far down you've gone until you've sunk a lot of time and resources into building and maintaining it. Let us help you with video and you can go back to working on your core product. </p>
                        </div>
                        <div class="span4">
                            <div class="featured-box featured-box-quaternary">
                                <div class="box-content">
                                    <h4>Hard at work</h4>
                                    <img src='/assets/img/team/office.jpg' />
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="tall">

                    <div class="row">
                        <div class="span10">
                            <h3 class="pull-top">Meet Our <strong>Team</strong></h3>
                        </div>
                        <div class="span2">
                            <a href="/jobs" class="btn btn-large btn-primary pull-top">Join Our Team!</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            {{ widgets.about_people([
                                {
                                    'name': 'Vu Tran',
                                    'title': 'CEO',
                                    'picture': '/assets/img/team/vu.png',
                                    'cover': 'https://sphotos-a.xx.fbcdn.net/hphotos-snc7/417012_10151545793442977_1720262532_n.jpg',
                                    'description': "<strong>Vu</strong> codes and does other stuff as well. He's responsible for customer relations and support, and is the designer-in-residence.",
                                    'social': {
                                        'envelope': 'mailto:vu@framebase.io'
                                    }
                                },
                                {
                                    'name': 'Tyler Menezes',
                                    'title': 'Architect',
                                    'picture': '/assets/img/team/tyler.png',
                                    'cover': 'https://sphotos-a.xx.fbcdn.net/hphotos-snc7/381771_10150489765334179_1306907556_n.jpg',
                                    'description': "<strong>Tyler</strong> also codes. He is responsible for most of the architecture/design, scalibility, client dashboard, and SDKs. He also handles support and occasional design work.",
                                    'social': {
                                        'envelope': 'mailto:tylermenezes@framebase.io',
                                        'github': 'https://github.com/tylermenezes',
                                        'twitter': 'https://twitter.com/tylermenezes'
                                    }
                                },
                                {
                                    'name': 'Paul Cretu',
                                    'title': 'Streaming Architect',
                                    'picture': '/assets/img/team/paul.png',
                                    'cover': 'https://sphotos-b.xx.fbcdn.net/hphotos-prn1/324644_10150517809208958_444692898_o.jpg',
                                    'description': "Surprise! <strong>Paul</strong> codes too. He spends his days reading about media formats, protocols, and packetizers. He writes the APIs which deal with raw video manipulation.",
                                    'social': {
                                        'envelope': 'mailto:paul@framebase.io',
                                        'github': 'https://github.com/paulcretu'
                                    }
                                },
                                {
                                    'name': 'Danish Mughal',
                                    'title': 'Intern',
                                    'picture': 'https://secure.gravatar.com/avatar/f6bb39a3aa18fa49aaa5b861a311a189?s=88',
                                    'cover': 'http://i.imgur.com/6FbV1Z4.jpg',
                                    'description': "<strong>Danish</strong> is an engineering intern over the summer.",
                                    'social': {
                                        'envelope': 'mailto:danish@framebase.io',
                                        'github': 'http://github.com/danishmughal'
                                    }
                                }
                            ]) }}

                        </div>
                    </div>

                </div>

{% endblock %}
