
<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=1024">

  <script type="text/javascript">
    var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","pageview","ab"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])},
    analytics.load("wn6qv71ill");
  </script>

  <title>Microryza | Developing A New Treatment For Neurodegenerative Diseases</title>
  <meta name="Microryza | Developing A New Treatment For Neurodegenerative Diseases" content="Developing A New Treatment For Neurodegenerative Diseases" />
  <meta name="Description" content="Grow the next generation of ideas" />
  <meta name="Keywords" content="crowdfunding science crowdfunding research projects discover support learn backers funding crowdsourcing crowd funding" />
  <link href="https://microryza-assets.s3.amazonaws.com/assets/face-4-small-f227a84919b5fd792eefbde34831ab5e.png" rel="shortcut icon" type="image/vnd.microsoft.icon" />

  <meta property="og:title" content="Developing A New Treatment For Neurodegenerative Diseases" />
  <meta property="og:description" content="Developing A New Treatment For Neurodegenerative Diseases" />
  <meta property="og:image" content="" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="327736217285755" />
  <meta itemprop="name" content="Developing A New Treatment For Neurodegenerative Diseases" />
  <meta itemprop="description" content="Developing A New Treatment For Neurodegenerative Diseases" />
  <meta itemprop="image" content="" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <link href="https://microryza-assets.s3.amazonaws.com/assets/application-3d0cbefe6d7045b5bfe80543c1781cef.css" media="all" rel="stylesheet" type="text/css" />
  <meta content="authenticity_token" name="csrf-param" />
<meta content="K90SJPdQ9hvHt80m5fWVKaAZ/wxExdrXfASY93YmGdc=" name="csrf-token" />
  

  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script></head>

  <body id="show">
    <!--[if lt IE 8]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <div id="full-wrap">
      <div id="content-wrap">
        <header class="page page-body">
      <nav class="subpage">
        <a href="/" ><img alt="Microryza" src="https://microryza-assets.s3.amazonaws.com/assets/new/microryza-logo-f0cd154126fc6893030646040ce8f8b6.png" /></a>
        <ul>
          <li><a href="/how-it-works">How it Works</a></li>
          <li class="inner"><a href="/discover">Discover</a></li>
          <li class="inner"><a href="/start">Start a Project</a></li>
          <li style="position: relative;">
              <a href="/register">Login / Sign up</a>
          </li>
        </ul>
      </nav>
  </nav>
</header>

        <div id="flash-container" class="fixed-container">
</div>
        

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script src="//framebase.io/assets/framebase-js/framebase.js" type="text/javascript"></script>
<script type="text/javascript">
  framebase_player(); // Enable playing

  function fbs_click(width, height) {
    var leftPosition, topPosition;
    //Allow for borders.
    leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
    //Allow for title and status bars.
    topPosition = (window.screen.height / 2) - ((height / 2) + 50);
    var windowFeatures = "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no";
    u=location.href;
    t=document.title;
    window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer', windowFeatures);
    return false;
  }
</script>

  <script>
  $(document).ready(function() {
  var data = { pct: ["1800", "3000", "5200"] }

  console.log(d3.scale.category10());

  var w = 210,                       // width and height, natch
      h = 210,
      r = Math.min(w, h) / 2,        // arc radius
  //    color = d3.scale.category10(),
      donut = d3.layout.pie().sort(null),
      arc = d3.svg.arc().innerRadius(r - 36).outerRadius(r - 0);

  var color = d3.scale.ordinal()
      .range(["#F6684A", "#FCA98B", "#55BA88", "#0A759D", "#4DADBA", "#55B1C0"]); 

  // ---------------------------------------------------------------------
  var svg = d3.select("#budget-graph").append("svg:svg")
      .attr("width", w).attr("height", h);

  var arc_grp = svg.append("svg:g")
      .attr("class", "arcGrp")
      .attr("transform", "translate(" + (w / 2) + "," + (h / 2) + ")");

  // DRAW ARC PATHS
  var arcs = arc_grp.selectAll("path")
      .data(donut(data.pct));
  arcs.enter().append("svg:path")
      .attr("stroke", "white")
      .attr("stroke-width", 1.5)
      .attr("fill", function(d, i) {return color(i);})
      .attr("d", arc)
      .each(function(d) {this._current = d});
  });
  </script>

<div id="prj-hero" class="full-body showcase" style="background-image: url(https://www.filepicker.io/api/file/lWhPGbwjQqmHCA5pGcKf); background-color: #FFFFFF;">
  <div class="page-body clearfix">
    <div class="researcher">
      <a href="/users/DrMim"><img alt="Thumb_medium_dr.miriampicfrom_andrea2" src="https://d12dc99qm3izfr.cloudfront.net/uploads/user/avatar/DrMim/thumb_medium_Dr.MiriamPicfrom_Andrea2.jpg" /></a> 
    </div>
    <div class="title">
      <h1>Developing A New Treatment For Neurodegenerative Diseases</h1>
      | 
        <a href="/users/DrMim">Dr. Miriam Kleinman</a> | 
    </div>
    <div class="funding-box">
        <div id="funding-box" class="box">
          <p class="raised">
            <span>$</span>5,190 Pledged
          </p>
          <div style="width: 276px; margin: auto;" class="progress progress-info project-progress-bar">
            <div class="bar" style="width: 51%"></div>
          </div>

          <p class="goal">$10,000 <br />Goal</p>
          <p class="percent-funded">51% <br />Funded</p>
          <p class="time-remaining">
                21<br /> Days Left
          </p>
          <a class="button btn-donate" href="/projects/developing-a-new-treatment-for-neurodegenerative-diseases/payments/new?return_to=%2Fprojects%2Fdeveloping-a-new-treatment-for-neurodegenerative-diseases%2Fpayments%2Fnew">Fund this project</a>
          <a id="btn-facebook-share" class="button" href="https://www.facebook.com/dialog/feed?app_id=459964864039420&link=https://www.microryza.com/projects/developing-a-new-treatment-for-neurodegenerative-diseases&picture=https://www.filepicker.io/api/file/BaaovRYGR1u2vgZ0hA9M&name=Developing A New Treatment For Neurodegenerative Diseases&caption=Microryza&description=I%20supported%20research%20on%20Developing%20A%20New%20Treatment%20For%20Neurodegenerative%20Diseases.%20Check%20it%20out%21&redirect_uri=https://www.microryza.com/projects/developing-a-new-treatment-for-neurodegenerative-diseases">
            <img alt="Icon-facebook-share" src="https://microryza-assets.s3.amazonaws.com/assets/new/icon-facebook-share-bc36850ca0199cb9b7fb4ad778791143.png" />
            Share
          </a>
          <a id="btn-twitter-tweet" class="button" href="https://twitter.com/intent/tweet?via=microryza&text=I%20supported%20research%20in%20Developing%20A%20New%20Treatment%20For%20Neurodegenerative%20Diseases&url=https%3A%2F%2Fwww.microryza.com%2Fprojects%2Fdeveloping-a-new-treatment-for-neurodegenerative-diseases">
            <img alt="Icon-twitter-tweet" src="https://microryza-assets.s3.amazonaws.com/assets/new/icon-twitter-tweet-ab345a517e4ae1c7931c8eec79e535a9.png" />
            Tweet
          </a>
          <hr />
          <img alt="Blank-logo" src="https://microryza-assets.s3.amazonaws.com/assets/new/schools/blank-logo-75a33597c7febb8740c59b34ff34a8c6.png" />
          <hr />
        </div>
    </div>

    <nav>
      <ul>
        <li><a class="active" href="#">Overview</a></li>
        <li>
          <a href="/projects/developing-a-new-treatment-for-neurodegenerative-diseases/updates">Lab Notes <span class='badge'>0</span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>

  <section id="prj-video" class="page-body clearfix">
    <aside style='height:345px; width: 614px'>
        <video width="614" height="345" type="framebase" data-video="8c4070f9-45eb-4958-b14f-beab20634cdd"></video>
    </aside>
    <article>
      <p>
        1 in 3 people over the age of 65 will die with Alzheimer's disease or some other form of dementia. Current therapeutics only target symptoms of this disease, but not even one targets the underlying cause. At this time, we know a disease mechanism, and we know what to do to target it. Your donation will help to close the funding gap and allow this incredibly important work to start now.
<br><br>
Your donation to this campaign is TAX DEDUCTIBLE thanks to our partnership with the North Woodward Community Foundation.
 
      </p>
    </article>
  </section>
  <hr class="inner-content" />

<section id="prj-questions" class="page-body clearfix">
  <article>
    <h2>What are the goals of this project?</h2>
    <p>
      In 2011, a previously unknown mechanism was discovered to control the disease characteristics of the rare genetic disorder Niemann Pick Type C (NPC). NPC is also nicknamed "Childhood Alzheimer's", because the neurological symptoms are remarkably similar to Alzheimer's disease (AD). By re-activating the mechanism, disease characteristics in NPC patient cells were successfully reversed to look like normal cells. As a proof-of-concept, normal cells developed similar characteristics to those seen in NPC patient cells when the mechanism was inhibited. This suggests that this mechanism controls the underlying cause of the disease. The goal of this research is to identify a therapeutic agent that is mechanism specific for the treatment of NPC and AD. 
    </p>
  </article>
  <article>
    <h2>Why is this research important?</h2>
    <p>
      Alzheimer’s disease (AD) affects more than 10 million people worldwide and that number is expected to grow to 22 million by 2025. In 2012, AD cost the nation more than $213 billion dollars (alz.org). Moreover, AD takes an incredible financial and emotional toll on the families that care for these individuals. Currently, there are only 5 FDA approved drugs that only temporarily treat the symptoms of AD, but none of them treat the underlying cause of AD. 
<br><br>
Niemann Pick Type C (NPC) is a rare and deadly genetic disorder that effects children. Symptoms include aggressive neurodegeneration, fatty liver, and ultimately liver failure occurs within 10-15 years of age. Currently, there is no treatment for NPC and symptoms are only managed. 
<br><br>
The discovery of this new mechanism allows for the development of a new class of therapeutics. A number of additional diseases share this mechanism and would be future targets for this new therapeutic agent. These diseases include Parkinson's disease, Cataracts, Amyotrophic Lateral Sclerosis (ALS/Lou Gehrig's Disease), Cystic Fibrosis, and Lysosomal Storage Disorders.
    </p>
  </article>
  <article class="last">
    <h2>How will the funds be used? </h2>
    <p>
      The funds will be used towards laboratory space at a state-of-the-art biotechnology incubator that provides wet lab space ($300/month), potential drug compounds, and consumables (reagents, tubes, flasks).
<br><br>
The cell lines, my personal time, consultants time, and much of the equipment needed for this work has been donated or will be supplied free of charge.
<br><br>
We are happy to announce our partnership with the North Woodward Community Foundation, a 501(c)(3) organization, which will allow all of your donations to be TAX DEDUCTIBLE. Following the successful completion of our Microryza campaign, you will receive your donation letter from North Woodward Community Foundation to keep for your records. We want to thank North Woodward Community Foundation for lending their support to this very important project.
    </p>
  </article>
</section>

<div id="prj-researcher-bio"  class="full-body">
  <section class="page-body">
    
    <div class="mugshot" style="background-image: url('https://www.filepicker.io/api/file/UJpih1A7RfKmTiSuTya3');">
      <img alt="Blank-badge" src="https://microryza-assets.s3.amazonaws.com/assets/new/schools/blank-badge-f79d27fa58750af593b05a5d705609b5.png" />
    </div>
    
    <h2><a href="/users/DrMim">Dr. Miriam Kleinman</a></h2>
    <h4></h4>
    
    <div style="margin-left: 335px;">
      <article>
        <h3>Affiliations</h3>
        <p>
          B.S. Biochemistry, Biotechnology, and Molecular Biology, Michigan State University<br>
Ph.D. Toxicology, Wayne State University
        </p>
      </article>
      <article>
        <h3>Background</h3>
        <p>
          Miriam graduated from Michigan State University with a Bachelor of Science in Biochemistry, Biotechnology, and Molecular Biology. Following undergrad, she accepted a biochemist position at the Ann Arbor, MI biotechnology company, Cayman Chemical, where she synthesized compounds and isolated proteins from anything from pig's blood to Amazonian electric eels. While this work was very exciting, Miriam ultimately knew that in order to make the impact she really wanted to she needed a PhD.  She entered into Wayne State University's graduate program and completed her PhD in toxicology. After graduating, Miriam has dedicated her full attention to the development of therapeutics for degenerative diseases and making a true impact on humanity.
        </p>
      </article>
    </div>
  </section>
</div>

<section id="prj-budget" class="page-body clearfix">
  <aside>
      <table>
        <tr>
          <td>
            <table>
                <tr>
                  <td>
                    <span class="circle" style="background-color: #F6684A;"></span>
                  </td>
                  <td>Laboratory Space (6 months)</td>
                  <td class="value">$1,800</td>
                </tr>
                <tr>
                  <td>
                    <span class="circle" style="background-color: #FCA98B;"></span>
                  </td>
                  <td>Drug Compounds</td>
                  <td class="value">$3,000</td>
                </tr>
                <tr>
                  <td>
                    <span class="circle" style="background-color: #55BA88;"></span>
                  </td>
                  <td>Consumables </td>
                  <td class="value">$5,200</td>
                </tr>
            </table>
          </td>
          <td>
            <div id="budget-graph"></div>
          </td>
        </tr>
      </table>
  </aside>
  <article>
    <h3>Budget</h3>
    <p>
      Wet lab space at a local biotechnology incubator ($300/mth x 6), drug compounds, consumables (reagents, tubes, flasks).
    </p>
  </article>
</section>


<div id="prj-what-you-get" class="full-body">
  <div class="page-body">
    <a class="button" href="/projects/developing-a-new-treatment-for-neurodegenerative-diseases/payments/new?return_to=%2Fprojects%2Fdeveloping-a-new-treatment-for-neurodegenerative-diseases%2Fpayments%2Fnew"><span>Fund</span> this project</a>
  </div>
</div>

  <div id="prj-backers" class="page-body">
    <ul>
        <li class="first"><h5>30 Backers</h5></li>
        <li>
          <h6>51<span>%</span></h6>
          Funded
        </li>
        <li>
          <h6>
            <span>$</span>5,190
          </h6>
          Total Donations
        </li>
        <li class="last">
          <h6>
            <span>$</span>173.00
          </h6>
          Average Donation
        </li>
    </ul>
    <div>
        <a href="/users/talissab"><img alt="talissab" src="https://microryza-assets.s3.amazonaws.com/assets/face-9-small.png" /></a>
        <a href="/users/Catman1"><img alt="Catman1" src="https://microryza-assets.s3.amazonaws.com/assets/face-3-small.png" /></a>
        <a href="/users/fattso"><img alt="fattso" src="https://microryza-assets.s3.amazonaws.com/assets/face-1-small.png" /></a>
        <a href="/users/ruchirppatel"><img alt="ruchirppatel" src="https://microryza-assets.s3.amazonaws.com/assets/face-3-small.png" /></a>
        <a href="/users/jeffmorrisjr"><img alt="jeffmorrisjr" src="https://microryza-assets.s3.amazonaws.com/assets/face-1-small.png" /></a>
        <a href="/users/klazarus"><img alt="klazarus" src="https://microryza-assets.s3.amazonaws.com/assets/face-4-small.png" /></a>
        <a href="/users/jwertlieb"><img alt="jwertlieb" src="https://microryza-assets.s3.amazonaws.com/assets/face-2-small.png" /></a>
        <a href="/users/Joseph"><img alt="Joseph" src="https://microryza-assets.s3.amazonaws.com/assets/face-6-small.png" /></a>
        <a href="/users/fun2bgnj"><img alt="fun2bgnj" src="https://d12dc99qm3izfr.cloudfront.net/uploads/user/avatar/fun2bgnj/thumb_small_Friendster.jpg" /></a>
        <a href="/users/rtarjeft"><img alt="rtarjeft" src="https://microryza-assets.s3.amazonaws.com/assets/face-6-small.png" /></a>
        <a href="/users/Mendaril"><img alt="Mendaril" src="https://d12dc99qm3izfr.cloudfront.net/uploads/user/avatar/Mendaril/thumb_small_AvatarBook.jpg" /></a>
        <a href="/users/anderneezay"><img alt="anderneezay" src="https://microryza-assets.s3.amazonaws.com/assets/face-2-small.png" /></a>
        <a href="/users/Rona711"><img alt="Rona711" src="https://microryza-assets.s3.amazonaws.com/assets/face-9-small.png" /></a>
        <a href="/users/MWhitt"><img alt="MWhitt" src="https://microryza-assets.s3.amazonaws.com/assets/face-4-small.png" /></a>
        <a href="/users/sgarber"><img alt="sgarber" src="https://microryza-assets.s3.amazonaws.com/assets/face-6-small.png" /></a>
        <a href="/users/kharnt0x"><img alt="kharnt0x" src="https://microryza-assets.s3.amazonaws.com/assets/face-6-small.png" /></a>
        <a href="/users/cindy"><img alt="cindy" src="https://d12dc99qm3izfr.cloudfront.net/uploads/user/avatar/cindy/thumb_small_burger.jpg" /></a>
        <a href="/users/joelmatth"><img alt="joelmatth" src="https://microryza-assets.s3.amazonaws.com/assets/face-8-small.png" /></a>
        <a href="/users/lukekingham"><img alt="lukekingham" src="https://microryza-assets.s3.amazonaws.com/assets/face-1-small.png" /></a>
        <a href="/users/Pindoc"><img alt="Pindoc" src="https://microryza-assets.s3.amazonaws.com/assets/face-2-small.png" /></a>
        <a href="/users/karki"><img alt="karki" src="https://microryza-assets.s3.amazonaws.com/assets/face-2-small.png" /></a>
        <a href="/users/CPendzich"><img alt="CPendzich" src="https://microryza-assets.s3.amazonaws.com/assets/face-4-small.png" /></a>
        <a href="/users/kavaler_d"><img alt="kavaler_d" src="https://microryza-assets.s3.amazonaws.com/assets/face-2-small.png" /></a>
        <a href="/users/Winkler"><img alt="Winkler" src="https://microryza-assets.s3.amazonaws.com/assets/face-2-small.png" /></a>
        <a href="/users/nschneble"><img alt="nschneble" src="https://d12dc99qm3izfr.cloudfront.net/uploads/user/avatar/nschneble/thumb_small_Profile_Photo.jpg" /></a>
        <a href="/users/beau"><img alt="beau" src="https://microryza-assets.s3.amazonaws.com/assets/face-9-small.png" /></a>
        <a href="/users/sjgsteve21"><img alt="sjgsteve21" src="https://microryza-assets.s3.amazonaws.com/assets/face-5-small.png" /></a>
        <a href="/users/leonga"><img alt="leonga" src="https://d12dc99qm3izfr.cloudfront.net/uploads/user/avatar/leonga/thumb_small_SmokeCrop.jpg" /></a>
        <a href="/users/kfinnbog"><img alt="kfinnbog" src="https://microryza-assets.s3.amazonaws.com/assets/face-8-small.png" /></a>
        <a href="/users/gwillen"><img alt="gwillen" src="https://microryza-assets.s3.amazonaws.com/assets/face-9-small.png" /></a>
    </div>
  </div>

      </div>
      <style>
  #content-wrap {
    padding-bottom: 264px;
  }
</style>

<div id="footer" class="full-body">
  <footer class="page-body clearfix">
    <div class="link-unit">
      <h6>Discover</h6>
      <ul>
        <li><a href="/discover">Current Projects</a></li>
        <li><a href="/discover#label-succesful-projects">Succesfully Funded</a></li>
      </ul>
    </div>

    <div class="link-unit">
      <h6>Start</h6>
      <ul>
        <li><a href="/start">Start a Project</a></li>
        <li><a href="/project_proposals/new">Submit a Proposal</a></li>
        <li><a href="/institutions">Institutions</a></li>
      </ul>
    </div>

    <div class="link-unit">
      <h6>About</h6>
      <ul>
        <li><a href="/how-it-works">How it Works</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/about">Team</a></li>
        <li><a href="/jobs">Jobs</a></li>
        <li><a href="http://www.angel.co/microryza/press">Press</a></li>
      </ul>
    </div>

    <div class="link-unit">
      <h6>Contact</h6>
      <ul>
        <li><a href="http://blog.microryza.com">Blog</a></li>
        <li><a href="https://www.facebook.com/Microryza">Facebook</a></li>
        <li><a href="https://twitter.com/microryza">Twitter</a></li>
        <li><a href="/feedbacks/new">Contact Us</a></li>
      </ul>
    </div>

    <div class="tou-unit">
      <h6>@ 2013 Microryza</h6>
      <ul>
        <li><a href="/tc">Terms of Use,</a></li>
        <li><a href="/coming-soon">Privacy</a></li>
      </ul>
    </div>

    <hr />

    <img alt="Microryza-logo-white" class="logo" src="https://microryza-assets.s3.amazonaws.com/assets/new/microryza-logo-white-f5b5e5ba0e47ab45146ae2892c5ef4ec.png" />
  </footer>
</div>

<div id="fb-root"></div>
<script type="text/javascript" src="https://js.balancedpayments.com/v1/balanced.js"></script>
<script src="https://microryza-assets.s3.amazonaws.com/assets/application-330e83dfef5c3333f8b29b9711db543d.js" type="text/javascript"></script>
<script>
  // ANALYTICS
  // Monitor which project pages are clicked;  Aggregates both image link and
  // text link.
  if (typeof(analytics) !== "undefined") {
    $('.featured-project-desc').each(function(i) {
      $(this).find('a').each(function(i) {
        title = "Project Link Clicked: " + $(this).text();
        if ($(this).children("img").size() == 1) {
          project_title = $(this).next().children("a").text();
          title = "Project Link Clicked: " + project_title;
        }
        if (typeof(analytics) !== "undefined") {
          analytics.trackLink($(this), title);
        }
      });
    });

    // Homepage links
    analytics.trackLink($('#discover'),                     "Clicked More Projects");
    analytics.trackLink($('#newsletter-signup-button'),     "Clicked Sign Up For Newsletter Button");
    analytics.trackLink($('#link-launch-your-own-project'), "Clicked Launch Your Own Project");
    analytics.trackLink($('#link-how-it-works'),            "Clicked How It Works");

    // Project page
    if ($('#project-title').length > 0) {
      project_title = $('#project-title h1').text();
      analytics.trackLink($('#back-project-button a'), "Clicked Donate");
      analytics.trackLink($('#back-project-button a'), "Clicked Donate for " + project_title);
      analytics.trackLink($('#project-updates'), "Clicked Project Updates");
      analytics.trackLink($('#project-updates'), "Clicked Project Updates for " + project_title);
    }

    // Donation page
    analytics.trackLink($('#payment-button'), "Attempted to complete donation");
  }

</script>
    </div>
    
    
    
  <script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";
e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
  "d1ros97qkrwjf5.cloudfront.net/42/eum/rum.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-1.newrelic.com","05887b8697","7821","cgkLREFcWQ5SQhYRRl4MAFNHQBoRX19O",10,70,new Date().getTime(),"","","","",""]);</script></body>
</html>
