<!DOCTYPE HTML>
<html>
    <head>
        <script src="//framebase.io/assets/framebase-js/framebase-nightly.js" type="text/javascript"></script>
        <script type="text/javascript">
            framebase_init(
            {
                token: '7e2d397e7c52137284759831f0bf502fb0ba53865788a12e6759acd0ee39a5fd'
            });
        </script>
    </head>
    <body>
        <input type="framebase" name="video_rec" record="true"/>
    </body>
</html>

