{% block title %}Jobs{% endblock %}
{% extends "templates/template.html.twig" %}

{% block content %}
<div role="main" class="main">

                <section class="page-top">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <ul class="breadcrumb">
                                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                                    <li class="active">About</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <h2>Jobs</h2>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">

                    <h2><strong>Lumberjack programmers</strong> wanted!</h2>

                    <div class="row">
                        <div class="span12">
                            <p class="lead">
                                Rockstars, ninjas, and Chuck Norrises need not apply!
                            </p>
                            <p class="lead">
                                We want the best, the most passionate, the lumberjacks. Programmers who can fell bugs
                                like mighty oak trees; who can help us deforest the landscape of existing, crappy
                                video products. (We're open to robot and ghost programmers as well.)
                            </p>
                            <p>
                                Okay, okay, we hate these kind of job postings, too. We're just looking for good people
                                who like what they do, care about making a difference in the world, and believe video
                                can be a way to make that difference. We wake up every single day excited about our
                                jobs. If you'd feel the same if you were working with us, let us know.
                            </p>
                            <p>
                                Flannel is a plus, though.
                            </p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="span8">

                            <section class="toggle">
                                <input type="checkbox" id="q1">
                                <label for="q1">Software Engineer Intern</label>
                                <p><strong>Location:</strong> San Francisco - <strong>Department:</strong> Engineering</p>
                                <p>
                                - You're capable programming in at least one entire stack </br>
                                - You love doing side projects </br>
                                - You're quick to understand how pieces in a large problem can come together </br>
                                - You love to learn! </br>
                                - You love programming! </br>
                                </p>
                                <p><a class="btn btn-primary" href="mailto:jobs+software-engineering-intern@framebase.io">Apply Now</a> Email <a href="mailto:jobs+software-engineering-intern@framebase.io">jobs+software-engineering-intern@framebase.io</a></p>
                            </section>


                        </div>
                        <div class="span4">
                            <div class="featured-box featured-box-secundary">
                                <div class="box-content clearfix">
                                    <h4>Our culture</h4>

                                    <hr />

                                    <ul class="list icons pull-left">
                                        <li><i class="icon-ok"></i>Learn every day!</li>
                                        <li><i class="icon-ok"></i>Want to do a side project? Go for it!</li>
                                        <li><i class="icon-ok"></i>Our management is flatter than Flatsville.</li>
                                        <li><i class="icon-ok"></i>Take risks.</li>
                                        <li><i class="icon-ok"></i>Work on what you love. Own your projects.</li>
                                        <li><i class="icon-ok"></i>The color blue.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
{% endblock %}
