{% block title %}About Us{% endblock %}
{% extends "templates/template.html.twig" %}

{% block content %}
<div role="main" class="main">

                <section class="page-top">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <ul class="breadcrumb">
                                    <li><a href="http://framebase.io">Home</a> <span class="divider">/</span></li>
                                    <li class="active">Developer Programs</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <h2>Framebase + Startups</h2>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">

                    <h2>The world wants more video. <strong>We need your help.</strong></h2>

                    <div class="row">
                        <div class="span12">
                            <p class="lead">
                                We made Framebase because we saw how awesome video made the world, and we wanted to make it more universal. But to make the world more awesome, we need to work with the people on the ground &mdash; you.
                            </p>
                            <p class="lead">
                                We're launching some programs to help people making apps. These programs are open to <strong>anyone working with video</strong>, whether you use our APIs or not. We want to change the world with video, we don't care how.
                            </p>
                        </div>
                    </div>

                    <hr class="tall upsidedown">

                    <div class="row">
                        <div class="span8">
                            <h3>Office Hours for Startups</h3>
                            <p></p>
                        </div>
                        <div class="span4">
                            <div class="featured-box featured-box-quaternary">
                                <div class="box-content">
                                    <h4>Hard at work</h4>
                                    <img src='/assets/img/team/office.jpg' />
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="tall">

                    <div class="row">
                        <div class="span10">
                            <h3 class="pull-top">Meet Our <strong>Team</strong></h3>
                        </div>
                        <div class="span2">
                            <a href="/jobs" class="btn btn-large btn-primary pull-top">Join Our Team!</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <ul class="people cards">
                                <li>
                                    <div class="cover" style="background-image:url(https://sphotos-a.xx.fbcdn.net/hphotos-snc7/417012_10151545793442977_1720262532_n.jpg)">
                                        <h1>Vu Tran</h1>
                                        <h2>CEO</h2>
                                    </div>
                                    <div class="thumb">
                                        <img src="/assets/img/team/vu.jpg" alt="" />
                                    </div>
                                    <div class="info">
                                        <div class="description">
                                            <strong>Vu</strong> codes and does other stuff as well. He's responsible for
                                            customer relations and support, and is the designer-in-residence.
                                        </div>
                                    </div>

                                    <ul class="social">
                                        <li><a href="mailto:vu@framebase.io"><i class="icon-envelope"></i></a></li>
                                    </ul>
                                </li>

                                <li>
                                    <div class="cover" style="background-image: url(https://sphotos-a.xx.fbcdn.net/hphotos-snc7/381771_10150489765334179_1306907556_n.jpg)">
                                        <h1>Tyler Menezes</h1>
                                        <h2>Architect</h2>
                                    </div>
                                    <div class="thumb">
                                        <img src="/assets/img/team/tyler.jpg" alt="" />
                                    </div>
                                    <div class="info">
                                        <div class="description">
                                            <strong>Tyler</strong> also codes. He is responsible for most of the
                                            architecture/design, scalibility, client dashboard, and SDKs. He also
                                            handles support and occasional design work.
                                        </div>
                                    </div>

                                    <ul class="social">
                                        <li><a href="https://github.com/tylermenezes"><i class="icon-github"></i></a></li>
                                        <li><a href="https://twitter.com/tylermenezes"><i class="icon-twitter"></i></a></li>
                                        <li><a href="mailto:tylermenezes@framebase.io"><i class="icon-envelope"></i></a></li>
                                    </ul>
                                </li>

                                <li>
                                    <div class="cover" style="background-image:url(https://sphotos-b.xx.fbcdn.net/hphotos-prn1/324644_10150517809208958_444692898_o.jpg)">
                                        <h1>Paul Cretu</h1>
                                        <h2>Streaming Architect</h2>
                                    </div>
                                    <div class="thumb">
                                        <img src="/assets/img/team/paul.jpg" alt="" />
                                    </div>
                                    <div class="info">
                                        <div class="description">
                                            Surprise! <strong>Paul</strong> codes too. He spends his days reading about
                                            media formats, protocols, and packetizers. He writes the APIs which deal
                                            with raw video manipulation.
                                        </div>
                                    </div>

                                    <ul class="social">
                                        <li><a href="https://github.com/paulcretu"><i class="icon-github"></i></a></li>
                                        <li><a href="mailto:paulcretu@framebase.io"><i class="icon-envelope"></i></a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>

{% endblock %}
