<div class="container">
    <div class="row">
        <div class="footer-ribon">
            <span style="font-family:"helvetica", arial">More</span>
        </div>
        <div class="span2">
            <h4>Sign up quickly</h4>
            <p>Just type your email to get started!</p>
            <form class="form-inline" method="post" action="/register/waitlist">
                <div class="input-append">
                    <input class="span2" style="width:100px;" placeholder="Email Address" name="email" type="text">
                    <input class="btn" type="submit" value="Go!">
                </div>
            </form>
        </div>
        <div class="span2">
            <h4>Framebase</h4>
            <ul class="contact">
                <li><a href="/about">About</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/legal/terms">Terms</a></li>
                <li><a style="cursor:pointer" onclick="olark('api.box.expand');">Contact</a></li>
            </ul>

        </div>
        <div class="span2">
            <h4>Try It Out</h4>
            <ul class="contact">
                <li><a href="/tour/recorder">Recorder</a></li>
                <li><a href="/tour/uploader">Uploader</a></li>
                <li><a href="/tour/player">Player</a></li>
            </ul>

        </div>
        <div class="span2">
            <h4>Developers</h4>
            <ul class="contact">
                <li><a href="/docs/">Docs</li>
                <li><a href="/docs/getting_started">Getting Started</a></li>
            </ul>
        </div>
        <div class="span2">
            <h4>News</h4>

            <div class="social-icons">
                <ul class="contact">
                    <li><a href="http://blog.framebase.io">Blog</li>
                </ul>
                <ul class="social-icons" style="margin-left: -35px; margin-top: -22px">
                    <li class="facebook" style="visibility: hidden"><a href="http://www.facebook.com/framebase" target="_blank" title="Facebook">Facebook</a></li>
                    <li class="facebook"><a href="http://www.facebook.com/framebase" target="_blank" title="Facebook">Facebook</a></li>
                    <li class="twitter"><a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fwww.me…m%2F&region=follow_link&screen_name=framebase&tw_p=followbutton&variant=2.0" target="_blank" title="Twitter">Twitter</a></li>
                </ul>
           </div>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="span1">
                <a href="http://framebase.io" class="logo">
                    <img alt="Framebase" src="/assets/img/logo.png">
                </a>
            </div>
            <div class="span7">
                <p>Copyright &copy; 2013 Framebase. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
