{% extends '/templates/template.html.twig' %}

{% block title %}{{ rendered_title }}{% endblock %}
{% block content %}
   <div role="main" class="main">
                {{ widgets.top([
                    {'name': 'For Developers', 'link': '/docs'},
                    {'name': rendered_title}
                ]) }}
                <div class="container">
                    <div class="row">
                        <div class="span9">
                            {% block leader %}
                            {% endblock %}

                            <div class="row">
                                <div class="span9">
                                    {{ rendered | raw }}
                                </div>
                            </div>

                        </div>

                        <div class="span3">
                            <aside class="sidebar">

                                {#
                                <h4><a href="/docs/quickstarts">Quick-Starts</a></h4>
                                <ul class="nav nav-list primary pull-bottom">
                                    <li><a href="/docs/quickstarts/getting-started">Getting Started</a></li>
                                    <li><a href="/docs/quickstarts/rest">RESTful API</a></li>
                                    <li><a href="/docs/quickstarts/skinning">Skinning</a></li>
                                </ul>

                                <h4><a href="/docs/tutorials">Tutorials</a></h4>
                                #}

                                <h4><a href="/docs/libraries">Libraries</a></h4>
                                <ul class="nav nav-list primary pull-bottom">
                                    <li><a href="/docs/libraries/javascript">Javascript</a></li>
                                </ul>

                                <h4><a href="/docs/apis">APIs</a></h4>
                                <ul class="nav nav-list primary pull-bottom">
                                    <li><a href="/docs/apis/upload">Upload</a></li>
                                    <li><a href="/docs/apis/details">Details</a></li>
                                </ul>

                            </aside>
                        </div>
                    </div>

                </div>

            </div>
{% endblock %}
