{% block title %}Tour{% endblock %}
{% extends "templates/template.html.twig" %}

{% block content %}
  <div role="main" class="main">

                <section class="page-top">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <ul class="breadcrumb">
                                    <li><a href="https://framebase.io">Home</a> <span class="divider">/</span></li>
                                    <li class="active">Tour</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <h2>Overview</h2>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">

                    <div class="row">
                        <div class="span9">

                            <h2>Building your own video solution <strong>SUCKS</strong></h2>

                            <div class="row">
                                <div class="span9">
                                    <p class="lead">
                                          <span class='arrow tr' style='float:right'></span>
                                        Let us handle the full brunt of getting video to work in IE8 while you focus on your product.
                                    </p>
                                </div>
                            </div>

                            <hr class="tall">

                            <div class="row">
                                <div class="span9">
                                    <h3>Why Framebase?</h3>
                                    <p>We're developers like many of you. We recall having to pull many late nights because our encoding queue was failing, pulling out our hair because our playback was lagging or realizing that our solution doesn't work at all in IE7 but not having enough time to correct the issue. Some people think that video is a solved problem but we know it's not. We're trying our hardest to fix that. </p>
                                    <p>We believe that video is a great way to capture your audience and it's something we want to see more of. However, we hear time and time again that video is constantly put on the back burner because it's "too hard" and there's just "not enough time for it right now".
                                    Developing for video is like a deep dark hole and you won't realize how far down you've gone until you've sunk a lot of time and resource in building it and maintaining it. We're trying to fix that. Let us help you with video and you can go back to working on your core product. </p>
                                    <hr>
                                    <h3>What we offer</h3>
                                    <div class='row'>
                                        <div class='span4'>
                                        <div class="feature-box">
                                            <div class="feature-box-icon">
                                                <i class="icon-cloud"></i>
                                            </div>
                                            <div class="feature-box-info">
                                                <h4 class="shorter">Scalability</h4>
                                                <p class="tall">As you grow, we will grow. No matter how big your load is, we'll be able to handle it.</p>
                                            </div>
                                            <div class="feature-box">
                                                <div class="feature-box-icon">
                                                    <i class="icon-pencil"></i>
                                                </div>
                                                <div class="feature-box-info">
                                                    <h4 class="shorter">Customization</h4>
                                                    <p class="tall">All of our widgets are fully customizable. You can skin it and brand it however you like.</p>
                                                </div>
                                            </div>
                                            <div class="feature-box">
                                                <div class="feature-box-icon">
                                                    <i class="icon-bar-chart"></i>
                                                </div>
                                                <div class="feature-box-info">
                                                    <h4 class="shorter">Marketing Tools</h4>
                                                    <p class="tall">Customize your CTA, add in your Google Analytics or Mixpanel and you're ready to rock.</p>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class='span4'>
                                            <div class="feature-box">
                                                <div class="feature-box-icon">
                                                    <i class="icon-bolt"></i>
                                                </div>
                                                <div class="feature-box-info">
                                                    <h4 class="shorter">Time to Market</h4>
                                                    <p class="tall">The best way to see if a new feature works is to build it. We can save you months of work.</p>
                                                </div>
                                            </div>
                                            <div class="feature-box">
                                                <div class="feature-box-icon">
                                                    <i class="icon-group"></i>
                                                </div>
                                                <div class="feature-box-info">
                                                    <h4 class="shorter">Awesome Support</h4>
                                                    <p class="tall">If you need us, we'll be sure to be around get back to your as quickly as possible.</p>
                                                </div>
                                                <div class="feature-box">
                                                <div class="feature-box-icon">
                                                    <i class="icon-tasks"></i>
                                                </div>
                                                <div class="feature-box-info">
                                                    <h4 class="shorter">Maintenance</h4>
                                                    <p class="tall">With every new codec and every new browser release, you'll have to spend additional time testing. We'll make sure it works in IE11. You make sure your product works</p>
                                                </div>
                                            </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="span3">
                            <aside class="sidebar">

                                <h4>Widgets</h4>
                                <ul class="nav nav-list primary pull-bottom">
                                    <li><a href="/tour/recorder"><i class="icon icon-circle" style='margin-left: -18px; margin-right: 7px'></i>Recorder</a></li>
                                    <li><a href="/tour/uploader"><i class="icon icon-arrow-up" style='margin-left: -18px; margin-right: 7px'></i>Uploader</a></li>
                                    <li><a href="/tour/player"><i class="icon icon-play" style='margin-left: -16px; margin-right: 7px'></i>Player</a></li>
                                </ul>

                                 <hr />



                                <h4>About Us</h4>
                                <p>Click <a href='../about'>here</a> to read more about who we are and why we're doing this.</p>
                                                                <hr />

                                   <h4>Ready to rock?</h4>
                                <a href="/register" class="btn btn-large btn-primary">Sign Up For A Free Account</a>
                            </aside>
                        </div>
                    </div>

                </div>

            </div>
{% endblock %}
