{% block title %}Player{% endblock %}
{% extends "templates/template.html.twig" %}

{% block content %}
    <div role="main" class="main">

                <section class="page-top">
                    <div class="container">
                        <div class="row">
                            <div class="span12">
                                <ul class="breadcrumb">
                                    <li><a href="http://framebase.io">Home</a> <span class="divider">/</span></li>
                                    <li class="active">Tour</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span12">
                                <h2>Recorder</h2>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="container">
                    <ul class="nav nav-pills">
                      <li>
                        <a href="recorder">Recorder</a>
                      </li>
                      <li><a href="uploader">Uploader</a></li>
                      <li class="active"><a href="#">Player</a></li>
                    </ul>

                    <div class="row">
                        <div class="span6">
                        <div class='recorder' style='background:#FAFAFA; border: 1px solid #CCC; padding: 10px;  margin: 0 auto;'>
                            <video type='framebase' data-video='test' data-controls='hideOnStart'></video>
                        </div>


                        </div>

                        <div class="span6">

                            <h4>Framebase <strong>Player</strong></h4>
                            <p>The framebase player accepts a video id stored in the database and automatically takes care of the playback. It will work in all browsers and even supports RTMP streaming.
                             </p>

                            <a href="/uses" class="btn btn-primary">Check out some use cases</a> <span class="arrow hlb hidden-phone"></span>

                            <h4 class="pull-top">Features</h4>

                            <ul class="list icons">
                                <li><i class="icon-ok"></i> CSS Skinnable</li>
                                <li><i class="icon-ok"></i> Works on all browsers</li>
                                <li><i class="icon-ok"></i> Customizable CTA</li>
                                <li><i class="icon-ok"></i> Flash / Silverlight fallback</li>
                                <li><i class="icon-ok"></i> RTMP streaming</li>
                                <li><i class="icon-ok"></i> Easily integrate with Mixpanel / Google Analytics</li>
                            </ul>

                        </div>
                    </div>
{% endblock %}
