{% extends '/templates/template.html.twig' %}

{% block title %}{{ info.title }}{% endblock %}
{% block content %}
   <div role="main" class="main">
                {{ widgets.top([
                    {'name': 'Video Knowledgebase', 'link': '/knowledgebase'},
                    {'name': info.title}
                ]) }}
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            {% block leader %}
                            {% endblock %}

                            <div class="row">
                                <div class="span12">
                                    {{ rendered | raw }}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
{% endblock %}
