<!DOCTYPE html>
<html>
<head>
</head>
<body>
   <script src="//framebase.io/assets/framebase-js/framebase.js"></script>

<script type="text/javascript">
framebase_init({
		token:"273d40d391ca89729d5bd389932f7911d14b5264666a133aa71fedc026edecfe",
		events: {
			video: {
				play: function(){
					alert("Video Played");
				},
				pause: function(){
					alert("Video Paused");
				}	
			}
		}
	});
</script>


<video type='framebase' data-video='test' width='400' data-controls='hideOnStart'></video>


</script>
</body>
</html>

