<!DOCTYPE html>
<html>
<head>
</head>
<body>
   <script src="//framebase.io/assets/framebase-js/framebase-nightly.js"></script>

<script type="text/javascript">
framebase_init({token:"273d40d391ca89729d5bd389932f7911d14b5264666a133aa71fedc026edecfe"});
</script>


<video type='framebase' data-video='test' width='400px' data-controls='hideOnStart' poster='http://2.bp.blogspot.com/-vFHPrffYx18/TWG2v0k9uZI/AAAAAAAAA8A/NGhnFtu-0Uw/s1600/mallard_duck.jpg'></video>


</script>
</body>
</html>

