<!DOCTYPE html>
<html>
<head>
</head>
<body>
   <script src="//framebase.io/assets/framebase-js/framebase-nightly.js"></script>

<script type="text/javascript">
framebase_init(
	{
		token:"273d40d391ca89729d5bd389932f7911d14b5264666a133aa71fedc026edecfe",
		events: {
			upload: {
				success: function(){
					alert("Upload Complete");
				}
			}
		}
	});
</script>


<input type='framebase' record="true" width="500px"/>


</script>
<!-- fewfww -->
</body>
</html>

